<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body> 
<div align="center" class="container">
<ul>
<div id="warning" align="center">
  <%= flash[:notice] %>
</div>
<% @bookmarks.each do |bookmark| %>
  <li class="bookmark" id="bookmark"><%= bookmark.id %></li>
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
    <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
      <input type="submit" value="Edit">
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
    <input type="submit" value="Click to add a comment">
  </form>
  <ul>
    <% bookmark.add_comment.each do |comment| %>
      <li><%= comment.description %></li>
    <% end %>
  </ul>
    </li>
  <% end %>
</ul>
<div align="center">
<form action="/bookmarks/new">
<input class="button" type="submit" value="Add a new bookmark">
</form> 
</div>
</div>
<br>
<br>
<br>


<style>

body {
  background-color: #d1d1e0;
}

ul { 
    display: inline-block; 
    text-align: left; 
}

#warning {
    color: red;
    font-size: 20px;
}



</style>

</body>
</html>



      